<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pear Review App</title>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani|VT323" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

<nav>
  <a href="/">Home</a> |
  <a href="/register">Register</a> |
  <a href="/users">All Users</a> |
  <a href="/user/testuser">Your User Profile</a> |
  <a href="/conflicts">All Conflicts</a> |
  <a href="/conflicts/testuser">Your Conflict Page</a> |
  <a href="/underallocated">Underallocated</a>
</nav>

<section class="headline">
{% block header %}
This is the default header
{% endblock %}

{% block content %}
{% endblock %}

</section>

</body>

</html>